<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}"></title>
</head>
<body>
<style>
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Chiều cao 100% của viewport */
    margin: 0;
  }
  .error{
    text-align: center;
  }
</style>
<div class="error">
  <h1>Error 404 - Page Not Found</h1>
  <p th:text="${message}"></p>
</div>
</body>
</html>
